body {
    padding: 50px !important;
    font-family: monospace;
}

.hidden {
    display: none;
}

.i {
    font-style: italic;
}

#container {
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 80vh;
    padding: 10px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
}

textarea, code {
    border-radius: 2px 0 0 2px;
    font-family: monospace;
    font-size: 15px;
    line-height: normal;
    white-space: pre;
    overflow: auto;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    flex: 0 0 50%;
}

textarea {
    border: none;
    background: #f6f6f6;
    resize: none;
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,.1);
}

textarea:focus {
    outline: none;
}

#controls {
    margin: -25px auto 25px auto;
    height: 20px;
    display: inline-block;
    font-size: 11px;
}

fieldset {
    border: 0;
    display: inline-block;
}

.radio {
    margin-top: 5px;
    font-size: 0;
}

.radio label {
    width: 60px;
    height: 100%;
    font-family: monospace;
    font-size: 10px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.radio input[type="radio"] {
    width: 0;
    opacity: 0;
    position: fixed;
}

.radio label:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0 !important;
}

.radio label:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0 !important;
}

.radio input[type="radio"]:not(:checked) + label:hover {
    border-color: rgba(0,0,0,.3);
    box-shadow: 0 0 6px rgba(0,0,0,.15);
    cursor: pointer;
}

.radio input[type="radio"]:checked + label {
    background-color: #0063e1;
    color: #fff;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}

/* dark mode */

body.theme-dark {
    background-color: #0a0a1c;
    color: #fff;
}

.theme-dark #container {
    background-color: #221d3b;
    border-color: rgba(255,255,255,0.1);
}

.theme-dark #input {
    background-color: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.9);
}

.theme-dark #output {
    color: rgba(255,255,255,0.9);
}

.theme-dark .radio label {
    background-color: #342a4b;
    border-width: 1px;
    border-color: rgba(255,255,255,0.2);
}

.theme-dark .radio input[type="radio"]:checked + label {
    background-color: #dd7460;
    color: #2f0708;
}

.theme-dark .radio input[type="radio"]:not(:checked) + label:hover {
    border-color: rgba(255,255,255,.1);
}

.radio input[type="radio"]:checked + label.i {
    font-style: normal;
}
