body {
    padding: 50px;
}

#container {
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 80vh;
    padding: 10px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
}

textarea, code {
    border-radius: 2px 0 0 2px;
    font-family: monospace;
    font-size: 15px;
    line-height: normal;
    white-space: pre;
    overflow: auto;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    flex: 0 0 50%;
}

textarea {
    border: none;
    background: #f6f6f6;
    resize: none;
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,.1);
}

textarea:focus {
    outline: none;
}
