body {
    padding: 50px;
}

#container {
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 80vh;
    padding: 10px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
}

textarea {
    box-sizing: border-box;
    padding: 10px;
    flex: 0 0 50%;
    border: none;
    background: #f6f6f6;
    overflow: auto;
    white-space: pre;
    resize: none;
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,.1);
    border-radius: 2px 0 0 2px;
}

code {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    flex: 0 0 50%;
    overflow: auto;
    white-space: pre;
    border-radius: 0 2px 2px 0;
    line-height: 99%;
}
